<!doctype html>
<html>
  <head>
    <title>welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>welcome to <%=shopData.shopName%></h1>
    <p><a href="about">about <%=shopData.shopName%></a></p>
    <p><a href="weather">weather in london</a></p>
    <p><a href="weather/search">search for a weather forecast</a></p>
    <p><a href="users/login">log in!</a></p>
    <p><a href="users/logout">log out :(</a></p>
    <p><a href="users/register">register with us</a></p>
    <p><a href="books/search">search for books</a></p>
    <p><a href="books/list">see a list of our books</a></p>
    <p><a href="books/bargainbooks">browse our bargain bin of books</a></p>
    <p><a href="books/addbook">add a book to our database</a></p>
    <p><a href="users/list"><%=shopData.shopName%> user directory</a></p>
    <p><a href="api/search"><%=shopData.shopName%> book list api</a></p>
  </body>
</html>